body {
    background-color: #77a13c;
    font-family: 'Red Rose', cursive;
}

* {
    margin: 0;
    outline: 0 !important;
    font-family: 'Red Rose', cursive;
}

.body {
    width: 100%;
    background-color: #F3F3F3;
    background-image: url('../img/fondo.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.main-container {
    width: 80%;
    margin: auto;
    margin-top: 68px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.main-container-auth {
    width: 80%;
    margin: auto;
    height: 100%;
}

.btn-clínica_del_trabajador {
    background-color: #77a13c;
    color: #FFFFFF;
}

.btn-search {
    background-color: #77a13c;
    color: #FFFFFF;
}

a.link-clínica_del_trabajador {
    color: #77a13c;
}

a.link-clínica_del_trabajador:hover {
    text-decoration: underline;
}

#row-autorizacion {
    display: none;
}

a.link-muted {
    text-decoration: none;
    color: #6c757d;
    text-decoration: underline;
    font-weight: bold;
}

/*Configuración formato radiobuttons*/
.checkbox input[type = "checkbox"] {
    display: none;
}

.checkbox label {
    color: #000000;
    padding: 5px 15px 5px 41px;
    display: inline-block;
    position: relative;
    font-size: 0.9em;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.checkbox label:hover {
    background: rgba(0, 57, 81, 0.3);
}

.checkbox label:before {
    content: "";
    width: 17px;
    height: 17px;
    display: inline-block;
    background: none;
    border: 3px solid #77a13c;
    position: absolute;
    left: 10px;
    top: 7px;
}

.checkbox input[type = "checkbox"]:checked + label {
    padding: 5px 10px;
    background: #77a13c;
    border-radius: 2px;
    color: #FFFFFF;
}

.checkbox input[type = "checkbox"]:checked + label:before {
    display: none;
}

/*Fin Configuración formato radiobuttons*/
/*Configuración pantalla login*/
#login-container {
    background-image: url('../img/login.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 800px;
}

.card-container {
    position: relative;
    width: 100%;
    height: 100%;
}

#card-login {
    position: absolute;
    width: 30%;
    top: 50%;
    left: 60%;
    transform: translate(0%, -50%);
}

#card-login > .card-header {
    text-align: left;
    padding-left: 40px;
    background-color: #77a13c;
    color: #FFFFFF;
}

#card-login > .card-body {
    padding: 40px;
    text-align: left;
}

.row-login {
    text-align: left;
}

.row-btns-login {
    text-align: left;
}

/*Fin Configuración pantalla login*/
/*Configuración menú*/
#menu {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1235;
}

a#pull {
    display: none;
}

.bg-menu {
    background-color: #77a13c;
    border-bottom: 1px solid #004a7e;
    width: 100%;
    box-shadow: 0px 1px 6px 0px rgba(77, 77, 77, 1);
}

.container-menu {
    width: 80%;
    display: flex;
    padding: 20px;
    margin: auto;
}

.logo {
    float: left;
    width: 25%;
}

a.link-logo {
    text-decoration: none;
    color: #F3F3F3;
    font-size: 18px;
}

.items {
    float: left;
    width: 75%;
    text-align: right;
}

a.menu-item {
    color: #F3F3F3;
    text-decoration: none;
    padding: 5px 5px;
    margin: 0px 30px;
    -webkit-transition: all ease 0.3s;
    font-size: 18px;
}

a.dropdown-toggle:hover {
    border-bottom: 2px solid #F3F3F3 !important;
}

a.menu-item:hover {
    border-bottom: 2px solid #F3F3F3 !important;
    border-radius: 5px;
}

a.sesion-item {
    text-decoration: none;
    padding: 8px 5px;
    margin: 0px 30px;
    background-color: #F3F3F3;
    color: #77a13c;
    border-radius: 3px;
}

a.sesion-item-movil {
    display: none
}

a.item-movil {
    display: none;
}

.options-novedades {
    background-color: #77a13c;
    clear: both;
    margin-top: 0px;
    width: auto;
    text-align: right;
    display: none;
    padding: 10px 10px;
    position: fixed;
    right: 26%;
    border: 1px solid #E5E5E5;
}

.options-sesion {
    background-color: #77a13c;
    clear: both;
    margin-top: 0px;
    width: auto;
    text-align: right;
    display: none;
    padding: 10px 10px;
    position: fixed;
    right: 12%;
    border: 1px solid #E5E5E5;
}

a.link-option-sesion {
    text-decoration: none;
    color: #F3F3F3;
    display: block;
    padding: 5px 5px;
}

a.link-option-sesion:hover {
    background-color: #F3F3F3;
    color: #77a13c;
}

/*Fin configuración menú*/
/*Configuración de banners*/
#banner {
    margin-top: 64px;
    height: 700px;
    position: relative;
    width: 100%;
}

div.banner {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    z-index: -1;
    width: 100%;
    height: 700px;
}

.link-banner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.text-banner {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 35px;
    color: #F3F3F3;
}

.text-banner > div {
    padding-bottom: 100px;
}

.slick_banner {
    z-index: 1234;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: transparent;
    border: 0px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 25px;
    padding: 5px 10px;
    width: 70px;
    cursor: pointer;
    -webkit-transition: all ease .3s;
}

.slick_banner:hover {
    font-size: 27px;
    color: #FFFFFF;
    width: 100px;
}

#prev_banner {
    left: 0px;
}

#next_banner {
    right: 0px;
}

/*Markers*/
#container-marker-banner {
    width: 100%;
    padding: 25px;
    position: absolute;
    bottom: 0;
}

ul.marker-banner {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

ul.marker-banner li {
    width: 23px;
    height: 6px;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 0px 5px;
}

ul.marker-banner li.slick-active {
    background-color: #07313d;
}

ul.marker-banner li button {
    width: 23px;
    height: 6px;
    border-radius: 50%;
    font-size: 0;
    line-height: 0;
    display: block;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

/*Fin markers*/
/*Fin configuración de banners*/
/*Configuración index*/
.section {
    width: 100%;
    padding: 100px;
    background-color: #FFFFFF;
}

/*botones*/
.section-buttons {
    background-color: #F3F3F3;
}

.buttons-container {
    width: 80%;
    margin: auto;
}

img.img-btn {
    width: 100%;
    -webkit-transition: all ease 0.3s;
    filter: grayscale(0.3);
}

.link-btn:hover > img {
    transform: scale(1.1) rotate(-10deg);
    filter: grayscale(0);
}

/*Fin botones*/
/*Contacto*/
.col-video {
    display: flex;
}

.contact-container {
    width: 80%;
    margin: auto;
}

.contact-info {
    padding: 30px;
    align-self: center;
}

#video {
    width: 100%;
    height: 400px;
}

.container-video:hover > .pause {
    visibility: visible;
    opacity: 1;
}

.pause {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s ease;
    cursor: pointer;
    color: #FEFEFE;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

/*Fin contacto*/
/*Formulario*/
.section-form {
    width: 100%;
    padding: 100px;
    background-image: url('../img/form_fondo.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.form-container {
    width: 100%;
}

.row-contact {
    margin-bottom: 10px;
    text-align: center;
}

.btn-form {
    background-color: #77a13c;
    color: #FFFFFF;
}

.btn-form:hover {
    background-color: #56adcf;
    color: #FFFFFF;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.75);
}

/*Fin Formulario*/
/*Fin index*/
/*Configuración pantalla home*/
.wellcome-text {
    width: 100%;
    text-align: center;
    font-size: 18px;
}

.btn-clínica_del_trabajador {
    margin-top: 20px;
    background-color: #77a13c;
    color: #FFFFFF;
}

.btn-clínica_del_trabajador:hover {
    color: #FFFFFF;
    box-shadow: 0px 1px 6px 0px rgba(77, 77, 77, 1);
}

.text-contact {
    color: #FFFFFF;
    margin-bottom: 30px;
}

.title-contact {
    text-align: center;
    font-size: 25px;
}

/*Fin configuración pantalla home*/
/*Configuración de imagen Mapa de procesos*/
hr.hr-intranet {
    clear: both;
}

.container-bread {
    width: 100%;
}

.form-buscar {
    float: right;
}

#process-image {
    position: relative;
    width: 80%;
    margin: auto;
}

a.process {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    -webkit-transition: all ease 0.2s;
}

a.process:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

a.process1 {
    width: 23%;
    height: 5%;
    top: 7.5%;
    left: 14.5%;
    border-radius: 2px;
    transform: rotate(345deg);
}

a.process2 {
    width: 14.5%;
    height: 8%;
    top: 17%;
    left: 20%;
    border-radius: 2px;
}

a.process3 {
    width: 14.5%;
    height: 8%;
    top: 25%;
    left: 20%;
    border-radius: 2px;
}

a.process4 {
    width: 14.5%;
    height: 8%;
    top: 43%;
    left: 22%;
    border-radius: 2px;
}

a.process5 {
    width: 13%;
    height: 5%;
    top: 56%;
    left: 13%;
    border-radius: 2px;
    transform: rotate(50deg);
}

a.process6 {
    width: 12%;
    height: 5%;
    top: 69%;
    left: 23%;
    border-radius: 2px;
    transform: rotate(35deg);
}

a.process7 {
    width: 12%;
    height: 5%;
    top: 81%;
    left: 32.7%;
    border-radius: 2px;
    transform: rotate(45deg);
}

a.process8 {
    width: 13%;
    height: 9%;
    top: 38%;
    left: 54%;
    border-radius: 2px;
}

a.process9 {
    width: 7%;
    height: 7%;
    top: 82.2%;
    left: 56%;
    border-radius: 2px;
    transform: rotate(335deg);
}

a.process10 {
    width: 7%;
    height: 7%;
    top: 75%;
    left: 60.2%;
    border-radius: 2px;
    transform: rotate(345deg);
}

a.process11 {
    width: 7%;
    height: 7%;
    top: 82%;
    left: 66.5%;
    border-radius: 2px;
}

a.process12 {
    width: 9%;
    height: 7%;
    top: 74.5%;
    left: 71%;
    border-radius: 2px;
    transform: rotate(7deg);
}

a.process13 {
    width: 14%;
    height: 5%;
    top: 90%;
    left: 63%;
    border-radius: 2px;
}

a.process14 {
    width: 21%;
    height: 5%;
    top: 10%;
    left: 67.5%;
    border-radius: 2px;
    transform: rotate(40deg);
}

a.process15 {
    width: 21%;
    height: 5%;
    top: 48%;
    left: 74.5%;
    border-radius: 2px;
    transform: rotate(100deg);
}

/*Fin configuración mapa de procesos*/
/*Funcionario Excelencia*/
.info-vote {
    font-family: 'Nunito', sans-serif;
    color: #77a13c;
}

.hr-fin {
    clear: both;
}

.msg-container {
    text-align: center;
}

.msg-container img {
    width: 300px;
}

/*Fin funcionario Excelencia*/
/*Pantallas de novedades*/
.row-novedad {
    display: flex;
    align-items: center;
}

.download {
    width: 100%;
    background-color: #77a13c;
    border-radius: 10px;
    padding: 20px;
    color: #FFFFFF;
}

.hr-novedad {
    border-color: #FFFFFF;
}

a.btn-download {
    font-size: 40px;
    color: #FFFFFF;
    -webkit-transition: all ease 0.2s;
    border-radius: 5px;
}

a.btn-download:hover {
    color: #FFFFFF;
    border: 1px solid #ffffff;
    box-shadow: 5px 5px 0px 0px #FFFFFF;
}

/*Fin pantallas de novedades*/
/*Pantalla Nosotros*/
.row-we {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.text-we {
    text-align: justify;
    font-size: 20px;
}

.title-we {
    font-size: 35px;
    color: #77a13c;
    width: 100%;
    border-bottom: 2px dashed #77a13c;
    margin-bottom: 30px;
    position: relative;
    border-radius: 10px;
}

.title-we img {
    position: absolute;
    width: 65px;
    top: 0;
    right: 0;
}

.title-vis {
    text-align: right;
}

.title-vis img {
    position: absolute;
    width: 100px;
    top: 0;
    left: 0;
}

/*Fin pantalla Nosotros*/
/*Pantalla categorías*/
a.link-bread {
    color: #373435;
    text-decoration: none;
}

a.link-bread:hover {
    color: #000000;
    text-decoration: underline;
}

ul.list-categories {
    padding: 0;
    list-style: none;
}

ul.list-categories > li {
    padding: 10px;
    background-color: #E5E5E5;
    border-bottom: 1px dashed #4D4D4D;
    position: relative;
}

ul.list-categories > li > a:hover {
    font-weight: bold;
}

ul.list-categories > li.active {
    background-color: #D3D3D3;
}

ul.list-categories > li.active > a {
    font-weight: bold;
}

.btn-menu {
    position: absolute;
    right: 5px;
    top: 5px;
}

ul.list-subcategories {
    padding: 0px;
    list-style: circle;
    max-height: 0px;
    overflow: hidden;
    -webkit-transition: all ease 0.3s;
}

ul.list-subcategories > li {
    padding: 10px 10px 10px 30px;
}

ul.list-subcategories > li > a {
    color: #4D4D4D;
    display: block;
}

ul.list-subcategories.view {
    margin-top: 10px;
    max-height: 500px;
}

a.link-menu {
    display: block;
    text-decoration: none;
    color: #4D4D4D;
}

.alert-empty {
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.alert-empty img {
    width: 20%;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

.list-subcategories li.active > a {
    font-weight: bold;
    text-decoration: underline;
}

.row-process {
    background-color: #F3F3F3;
    padding: 10px;
    border-radius: 5px;
}

a.link-document {
    color: #373435;
}

#pdfview {
    width: 100%;
    height: 800px;
}

.container-frame {
    position: relative;
    width: 100%;
}

.tapar {
    position: absolute;
    width: 100%;
    height: 30px;
    background-color: #4D4D4D;
    top: 0;
    left: 0;
}

.tapar-2 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 99%;
    height: 100%;
    z-index: 1000;
}

#alerta {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.msg-alerta {
    color: #FFFFFF;
    text-align: center;
    z-index: 1234;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.msg-close {
    margin-top: 30px;
    background-color: #77a13c;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

a.link-subprocess {
    text-decoration: none;
    color: #FFFFFF;
}

.img-subprocess {
    width: 70%;
    margin: auto;
    position: relative;
}

.img-subprocess > div {
    position: absolute;
    top: 0;
    left: 10%;
    right: 20%;
    bottom: 0;
    display: flex;
    align-items: center;
    font-size: 18px;
    text-align: left;
    line-height: 1;
}

.img-subprocess img {
    width: 100%;
}

#medico {
    position: fixed;
    width: 120px;
    left: 30px;
    top: 180px;
    z-index: 1234;
}

.img-table {
    width: 30px;
    float: right;
}

/*Fin pantalla categorías*/
/*Footer*/
footer {
    width: 100%;
    background-color: #585858;
    padding: 60px;
    clear: both;
}

.footer-container {
    width: 80%;
    margin: auto;
    /*text-align: center;*/
}

.logo-footer {
    margin-top: 30px;
    width: 250px;
}

.container-info-footer {
    text-align: left;
    color: #E5E5E5;
}

.container-info-footer h2 {
    color: #FFFFFF;
    margin-bottom: 30px;
}

ul.list-social {
    width: 100%;
    padding: 0;
    list-style: none;
}

ul.list-social li {
    color: #E5E5E5;
    font-size: 20px;
    padding: 2px 0px;
}

div.div-social i {
    margin-right: 10px;
    font-size: 25px;
}

div.div-social a {
    text-decoration: none;
    color: #E5E5E5;
}

div.div-social a:hover {
    text-decoration: underline;
    color: #E5E5E5;
}

.info-design {
    width: 100%;
    background-color: #17202a;
    padding: 20px;
    color: #E5E5E5;
    font-size: 15px;
}

.link-inafic img {
    width: 50px;
}

.info-ese {
    width: 100%;
    color: #F3F3F3;
    padding: 15px 15px 15px 15px;
    clear: both;
    text-align: left;
}

.info-ese h3 {
    font-size: 25px;
    margin-top: 30px;
}

.contacto-ese {
    font-size: 25px;
}

hr.hr-footer {
    border-color: #E5E5E5;
    margin-bottom: 30px;
}

/*Fin Footer*/
/*Pantalla de encuestas*/
.title-polls {
    text-align: left;
}

.table-polls {
    text-align: left;
}

/*Fin pantalla de encuestas*/
