@media all and (max-width: 1400px){
  .container-menu{
  	width: 90%;
  }
  .main-container{
  	width: 90%;
  }
  .options-sesion{
  	right: 8%;
  }
  .options-novedades{
  	right: 33%;
  }
  ul.list-social li{
    font-size: 12px;
  }
}

@media all and (max-width: 768px){
  /*Configuración menu*/
  .items > nav{
    display: none;
  }
  .logo{
    display: none;
  }
  .container-menu{
    width: 100%;
    display: flex;
    padding: 10px;
    margin: auto;
  }
  .bg-menu{
    border-bottom: 0px;
  }
  a#pull{
    text-decoration: none;
    display: block;
    text-align: left;
    width: 30%;
    position: relative;
    color: #FFFFFF;
    font-size: 25px;
    padding: 10px 15px 7px 15px;
    z-index: 1235;
    float: left;
  }
  nav{
    clear: both;
    width: 100%;
    margin-top: 2px;
    border-top: 1px solid #273746;
    z-index: 1236;
  }
  .items{
    display: block;
    float: none;
    width: 100%;
    text-align: center;
  }
  a.menu-item{
    display: block;
    margin: 10px 0px;
    padding: 10px 0px 10px 0px;
    margin-bottom: 1px solid #F3F3F3;
  }
  a.menu-item:hover{
    border-bottom: 0px !important;
    border-radius: 0px;
  }
  a.sesion-item{
    display: none;
  }
  a.sesion-item-movil{
    display: block;
    width: 60%;
    float: right;
    text-decoration: none;
    padding: 8px 5px;
    background-color: #F3F3F3;
    color: #273746;
    border-radius: 3px;
    margin: 7px 15px 0px 0px;
  }
  a.item-movil{
    display: block;
  }
  .options-novedades{
    width: 100%;
    text-align: center;
    right: 0;
    left: 0;
  }
  .options-sesion{
    width: 100%;
    text-align: center;
    right: 0;
    left: 0;
    border: 0px;
  }
  a.link-option-sesion{
    padding: 10px 0px;
  }
  /*Fin configuración menu*/
  /*Configuración de banners*/
    #banner{
      height: 300px;
    }
    div.banner{
      height: 300px;
    }
    .text-banner > div{
      padding-bottom: 50px;
    }
  /*Fin configuración de banners*/
  /*Configuración index*/
    .section{
      padding: 50px 30px 10px 30px;
    }
    /*botones*/
    .buttons-container{
      width: 100%;
    }
    img.img-btn{
      filter: grayscale(0);
      margin-bottom: 40px;
    }
    .section-form{
      padding: 50px 30px 10px 30px;
    }
    /*Fin botones*/
    /*Contacto*/
    .contact-container{
      width: 100%;
      margin-bottom: 40px;
    }
    .contact-info{
      text-align: center;
    }
    #video{
      height: 350px;
    }
    /*Fin contacto*/
  /*Fin index*/
  /*Footer*/
    footer{
      padding: 50px 30px;
      clear: both;
    }
    .footer-container{
      width: 100%;
      text-align: center;
    }
    .logo-footer{
      margin-top: 30px;
      margin-bottom: 30px;
    }
    .container-info-footer{
      text-align: center;
    }
    .info-design{
      width: 100%;
      background-color: #17202a;
      padding: 20px;
      color: #E5E5E5;
      font-size: 15px;
      text-align: center;
    }
    .info-ese{
      text-align: center;
    }
  /*Fin Footer*/
  /*Configuración pantalla login*/
    #login-container{
      background-image: url('../img/login.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      height: auto;
    }
    .card-container{
      padding: 120px 0px 50px 0px;
      position: initial;
    }
    #card-login{
      position: initial;
      width: 100%;
      top: auto;
      left: auto;
      transform: none;
    }
    #card-login > .card-header{
      text-align: center;
    }
    #card-login > .card-body{
      padding: 30px;
      text-align: center;
    }
    .row-login{
      text-align: center;
    }
    .row-btns-login{
      text-align: center;
    }
  /*Fin Configuración pantalla login*/
  /*Configuración de imagen Mapa de procesos*/
    .container-bread{
      text-align: center;
    }
    .form-buscar{
      margin-top: 30px;
      float: none;
      display: block;
    }
    #process-image{
      width: 100%;
    }
  /*Fin configuración mapa de procesos*/
  /*Pantalla categorías*/
    .alert-empty{
      width: 90%;
      margin: auto;
      margin-bottom: 50px;
    }
    .alert-empty img{
      width: 90%;
    }
    .img-subprocess{
      width: 100%;
    }
    .table{
      max-width: 100% !important;
    }
    .main-container{
      padding-left: 10px;
      padding-right: 10px;
    }
    #medico{
      display: none;
    }
  /*Fin pantalla categorías*/
  /*Pantallas de novedades*/
    .row-novedad img{
      width: 70%;
      margin-bottom: 30px;
    }
    .download{
      padding: 20px 5px;
    }
    .download h1{
      font-size: 30px;
    }
    a.btn-download{
      width: 100%;
      margin-bottom: 30px;
    }
    a.btn-download:hover{
      border: 1px solid #ffffff;
      box-shadow: 0px 0px 0px 0px;
    }
  /*Fin pantallas de novedades*/
}